html {
  background: snow;
  font-size: 10px;
  font-family: "Gilroy-Medium", sans-serif;
  color: black;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  font-size: 1.1rem;
  background-color: black;
  color: white;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-flying-kangaroo {
  margin-top: 0rem;
  padding: 2rem 0rem;
  width: 12rem;
  height: auto;
  background-color: transparent;
}

.header-links1-wrapper {
  font-size: 1.7rem;
  margin: 0 0rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.link {
  padding: 1.3rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: black;
}

.main-headers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}

#ready {
  font-size: 1.3rem;

  letter-spacing: 0.2rem;
  font-weight: 100;
  margin-bottom: 2rem;
  color: darkgray;
}

#page-header {
  font-size: 4.5rem;
  font-weight: 500;
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article-title1 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #303030, #C0C0C0, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-article {
  margin-top: 5rem;
  font-size: 1.6rem;
  width: 55ch;
}

.cocktail-shaker {
  width: 8rem;
  height: auto;
  display: block;
}

.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.article1-text {
  line-height: 2.4rem;
  margin-top: 2.5rem;
}

.article-logo1 {
  width: 3.5rem;
  height: auto;
}

.article-logo2 {
  width: 3.5rem;
  height: auto;
}

.drink {
  height: 20rem;
  width: auto;
}
.card-photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 229, 229);
  border-radius: 1rem;
  padding: 2rem 0rem;
}
.title-drink {
  padding: 0;
  font-size: 1.8rem;
}

.wrapper-cards {
  margin-top: 0.4rem;
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 265px);
  grid-template-rows: auto;
  gap: 0.2rem;
  row-gap: 0.1rem;
  border-top: 1px solid black;
}

.card {
  width: 24.6rem;
  height: 35rem;
  font-size: 1.6rem;
  padding: 2.2rem 1rem;
}

.drink-descr {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin: 2rem 0rem;
  color: black;
}

.drink-text {
  width: 19ch;
}

.price {
  font-weight: 100;
  margin: 0.8rem 0rem;
  font-size: 1.4rem;
}

.addToCard {
  margin: 0.8rem 0rem;
  padding: 1rem 0rem;
  width: 100%;
  height: 4rem;
  font-weight: 100;
  background-color: transparent;
  color: black;
  border-radius: 1rem;
  border: 1px solid black;
}
.footerid {
  border-top: 2px solid black;
  margin-top: 5rem;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

footer ul li {
  list-style: none;
  padding: 0.1rem;
  font-size: 1.2rem;
}

.company,
.company1 {
  font-weight: 800;
  font-size: 1.6rem;
}
.company1,
.company3,
.company5,
.company7,
.company11 {
  margin-bottom: 0.7rem;
}

.company2,
.company3,
.company4,
.company5,
.company6,
.company7,
.company8,
.company9,
.company11 {
  visibility: hidden;
}

/* ABOUT US */

.aboutUs-pic {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  border: none;
}

.aboutUs-pic-wrapper {
  position: relative; /* this is important */
}

.aboutUs-pic {
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
}

.aboutUs-pic:hover {
  filter: blur(5px);
}

.aboutUs-pic-wrapper:after {
  content: "Our latest creation: Zauberflöte";
  position: absolute; /* this is important */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this centers the text */
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px darkorange;
  visibility: hidden; /* text is hidden by default */
}

.aboutUs-pic-wrapper:hover:after {
  visibility: visible; /* text is visible on hover */
}

.aboutUs-madeBy {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.aboutUs-madeBy p {
  margin: 0.12em;
}

.aboutUs-article1 {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.aboutUs-art1-pic {
  width: auto;
  height: 50rem;
  margin-left: 4.8rem;
}

.aboutUs-art1-pic,
.aboutUs-art2-pic {
  transform: scale(1); /* default scale */
  transition: transform 0.5s ease-in-out;
}

.aboutUs-art1-pic:hover,
.aboutUs-art2-pic:hover {
  transform: scale(1.05); /* scale up by 20% */
}

.aboutUs-art2-pic {
  width: auto;
  height: 50rem;
  margin-right: 4.8rem;
}

article p {
  width: 60ch;
  font-size: 1.2rem;
  margin: 0;
}

article div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: left;
  align-items: flex-end;
}

.aboutUs-firstName,
.aboutUs-surName {
  font-size: 3.3rem;
  font-weight: 800;
}

.aboutUs-underline {
  border-bottom: 1px solid black;
  padding: 0.2rem 0rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

/* B2B */

.navBar {
  background-color: transparent;
  border-bottom: 2px solid black;
  padding-top: 0rem;
  padding-bottom: 1.2rem;
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.nav-ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
}

.link {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.link1 {
  font-size: 2.2rem;
  padding: 0rem 5rem;
  font-weight: 800;
  background: linear-gradient(to right, #1E90FF, #FF69B4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navBar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-engl,
#btn-german,
.anm-style {
  background-color: transparent;
  border: none;
  font-weight: 100;
  font-size: 1.2rem;
}

#btn-german {
  border-left: 1px solid silver;
}

.anm-style {
  margin-right: 4rem;
  font-size: 1.2rem;
}

.navBar-wrapper2 img {
  padding-top: 1rem;
  width: 2.5rem;
  height: auto;
}

.navBar-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar-anm-cart {
  margin-right: 4rem;
  padding-bottom: 2rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem; /* Height of the footer */
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.fb-insta-wrapper,
.visa-master-wrapper,
.apple-google-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.masterpic {
  width: 24px;
  height: auto;
}


/* Spirits */

.spirits-wrapper-overall{
  margin: 15rem 0;
}

.spirits-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.spirits-header2{
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  margin-top: 8rem;
  color: silver;
}

.spirits-header1{
  font-size: 4rem;
  background: linear-gradient(to right, #303030, #C0C0C0, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.spirits-main-footer{
  text-align: center;
  transform: rotate(-10deg);
}

.spirits-main-footer-text{
  font-size: 7rem;
  font-family: 'Sacramento', cursive;
}

.spirits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: left;
  align-items: flex-start;
}

.spirit-pic{
  border-radius: 1rem;
}

/* GIFTS */

.gifts-main-header-wrapper{
 text-align: center; 
}

.gifts-main-header2{
  margin-top: 8rem;
}

.gifts-main-header1 {
  margin-bottom: 8rem;
  margin-top: 2rem;
}

.gifts-article-wrapper{
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gifts-article-header{
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.gifts-article-text{
  width: 35ch;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.gifts-article2-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: left;
  align-items: center;
  margin-top: 8rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 8rem;
}

.gifts-article2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.gifts-article2-header{
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.22rem;
  font-weight: 600;
  background: linear-gradient(to right, #3E2723, #FF8F00, #3E2723);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gifts-article2-text2{
  text-align: center;
  font-size: 1.3rem;
  box-sizing: border-box;
  width: 35ch;
}

.gifts-article2-img{
  width: 40rem;
  height: auto;
  border: none;
  border-radius: 0 1rem 1rem 0;
}

.gifts-article2-link{
  margin-top: 4rem;
  letter-spacing: 0.3rem;
  color: #FF8F00;
  padding: 0.2rem 0;
}


/* MEDIA QUERIES

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  // ...;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // ...;
}

*/
