html {
  background: snow;
  font-size: 10px;
  font-family: "Gilroy-Medium", sans-serif;
  color: black;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/*
header {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 13%,
    rgba(104, 232, 255, 1) 46%,
    rgba(0, 175, 201, 1) 75%
  );
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}
*/

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  font-size: 1.1rem;
  background-color: black;
  color: white;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-flying-kangaroo {
  margin-top: 0rem;
  padding: 2rem 0rem;
  width: 12rem;
  height: auto;
  background-color: transparent;
}

.header-links1-wrapper {
  font-size: 1.7rem;
  margin: 0 0rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.link {
  padding: 1.3rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: black;
}

.main-headers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}

#ready {
  font-size: 1.3rem;

  letter-spacing: 0.2rem;
  font-weight: 100;
  margin-bottom: 2rem;
  color: darkgray;
}

#page-header {
  font-size: 4.5rem;
  font-weight: 500;
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article-title1 {
  font-size: 2.5rem;
}

.first-article {
  margin-top: 5rem;
  font-size: 1.6rem;
  width: 55ch;
}

.cocktail-shaker {
  width: 8rem;
  height: auto;
  display: block;
}

.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.article1-text {
  line-height: 2.4rem;
}

.article-logo1 {
  width: 3.5rem;
  height: auto;
}

.article-logo2 {
  width: 3.5rem;
  height: auto;
}

.drink {
  height: 20rem;
  width: auto;
}
.card-photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 229, 229);
  border-radius: 1rem;
  padding: 2rem 0rem;
}
.title-drink {
  padding: 0;
  font-size: 1.8rem;
}

.wrapper-cards {
  margin-top: 0.4rem;
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 265px);
  grid-template-rows: auto;
  gap: 0.2rem;
  row-gap: 0.1rem;
  border-top: 1px solid black;
}

.card {
  width: 24.6rem;
  height: 35rem;
  font-size: 1.6rem;
  padding: 2.2rem 1rem;
}

.drink-descr {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin: 2rem 0rem;
  color: black;
}

.drink-text {
  width: 19ch;
}

.price {
  font-weight: 100;
  margin: 0.8rem 0rem;
  font-size: 1.4rem;
}

.addToCard {
  margin: 0.8rem 0rem;
  padding: 1rem 0rem;
  width: 100%;
  height: 4rem;
  font-weight: 100;
  background-color: transparent;
  color: black;
  border-radius: 1rem;
  border: 1px solid black;
}
.footerid {
  border-top: 2px solid black;
  margin-top: 5rem;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

footer ul li {
  list-style: none;
  padding: 0.1rem;
  font-size: 1.2rem;
}

.company,
.company1 {
  font-weight: 800;
  font-size: 1.6rem;
}
.company1,
.company3,
.company5,
.company7,
.company11 {
  margin-bottom: 0.7rem;
}

.company2,
.company3,
.company4,
.company5,
.company6,
.company7,
.company8,
.company9,
.company11 {
  visibility: hidden;
}

/* ABOUT US */

.aboutUs-pic {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  border: none;
}

.aboutUs-madeBy {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.aboutUs-madeBy p {
  margin: 0.12em;
}

.aboutUs-article1 {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.aboutUs-art1-pic {
  width: auto;
  height: 50rem;
  margin-left: 4.8rem;
}

.aboutUs-art2-pic {
  width: auto;
  height: 50rem;
  margin-right: 4.8rem;
}

article p {
  width: 60ch;
  font-size: 1.2rem;
  margin: 0;
}

article div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: left;
  align-items: flex-end;
}

.aboutUs-firstName,
.aboutUs-surName {
  font-size: 3.3rem;
  font-weight: 800;
}

.aboutUs-underline {
  border-bottom: 1px solid black;
  padding: 0.2rem 0rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

/* B2B */

.navBar {
  background-color: transparent;
  border-bottom: 2px solid black;
  padding-top: 0rem;
  padding-bottom: 1.2rem;
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.nav-ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
}

.link {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.link1 {
  font-size: 2.2rem;
  padding: 0rem 5rem;
  font-weight: 800;
}

.navBar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-engl,
#btn-german,
.anm-style {
  background-color: transparent;
  border: none;
  font-weight: 100;
  font-size: 1.2rem;
}

#btn-german {
  border-left: 1px solid silver;
}

.anm-style {
  margin-right: 4rem;
  font-size: 1.2rem;
}

.navBar-wrapper2 img {
  padding-top: 1rem;
  width: 2.5rem;
  height: auto;
}

.navBar-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar-anm-cart {
  margin-right: 4rem;
  padding-bottom: 2rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem; /* Height of the footer */
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.fb-insta-wrapper,
.visa-master-wrapper,
.apple-google-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.masterpic {
  width: 24px;
  height: auto;
}
